html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h1 {
  font-size: 2.8rem;
  font-weight: 600;
  text-align: center;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
